a{
    text-decoration: none;
}

/* header */

.top-address {
    background-image: radial-gradient(circle at 75%, #ebcdeb -20%, #0f35d3, #2c1ee8);
}
.header .top-address .top-info {
    margin-left: 8%;
    margin-top: 1%;
    color: white;
    float: left;
}

.header .top-address .space {
    margin-left: 0;
}

.header .top-address .top-info p {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: roboto;
    padding-bottom: 0;
}

.header .top-address .top-info i {
    margin-right: 3%;
    padding-top: .5%;
}

.header .top-banner .top-info p {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: roboto;
    padding-bottom: 0;
}

.header .top-banner .top-info h2 {
    color: #396afc;
    font-size: 35px;
    font-weight: 700;
    padding: 15px 0;
}
.header .top-banner .top-hotline p {
    font-size: 40px;
    display: block;
    font-weight: bold;  
}
.header .top-banner .top-hotline i{
    font-size: 40px;
    font-weight: bold; 
    padding-top: 2%; 
    margin-right: -20%;
}

.top-info a{
    text-align: center;
    padding: 20px 0 ;
    width: 80%;
    margin-left: 15%;
}
.navbar{
    background-image: radial-gradient(circle at 75%, #ebcdeb -20%, #0f35d3, #2c1ee8);
}
.nav-link , .nav-link i{
    text-transform: uppercase;
    font-weight: bold;
    color: azure;
}
.content{
    margin: 0 auto;
}
.content .container img{
    padding-left: 5%;
}
.main-content{
    padding-left: 5%;
}
.main-content h2{
    padding-top:2% ;
}

.top-info a p{
    margin-left: -5%;
}
/* header */

.banner .swiper-slide img{
    width: 90%;
    margin: 20px;
}

.hot-water .swiper-slide .card{
    width: 90%;
    margin: 20px;
    /* border:0px; */
}
.hot-water .swiper-wrapper{
    margin-left: -1%;
}
.hot-water h2{
    color: #396afc;
}
.vein,.more-product{
    margin: 2% 0;
}
.vein h2 , .more-product h2{
    padding-bottom: 2%;
}

.decorate-text{
    position: relative;
    color: #396afc;
}
.decorate-text::before{
    content: "";
    position: absolute;
    left: 20%;
    width: 18%;
    border-width: 1px;
    border-color: #396afc;
    top: 17px;
    height: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.decorate-text::after {
    content: "";
    width: 18%;
    position: absolute;
    border-width: 1px;
    border-color: #396afc;
    top: 17px;
    right: 20%;
    height: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
}
/* The Image container */
.swiper-slide img:hover {
    -webkit-transition: opacity .6s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s;
    transition: opacity .6s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s;
    -o-transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s,-webkit-filter .6s,-webkit-transform .6s,-webkit-box-shadow .3s;
  }

  @keyframes trin {

    from {
        transform:rotate3d(0, 0, 1, 0deg);
    }
    20%, 32%, 44%, 56%, 68% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    23%, 35%, 47%, 59%, 71% {
        transform: rotate3d(0,0,1,15deg);
    }
    26%, 38%, 50%, 62%, 74% {
        transform: rotate3d(0,0,1,0deg);
    }
    29%, 41%, 53%, 65%, 77% {
        transform: rotate3d(0,0,1,-15deg);
    }
    80% {
        transform:rotate3d(0, 0, 1, 0deg);
    }

}
.card :hover h5{
    color:#396afc;
    transition: .5s;
}
.trin-trin
{
    animation-name: trin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}