* {
    margin: 0;
    padding: 0;
}

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #ffffff 5%, #82fffb 95%);
    color: black;
    text-align: center;
    align-items: center;
    line-height: 1.5;
}

.content {
    width: 100%;
    z-index: 10;
}

button {
    height: 65px;
    width: 50%;
    border: 1.5px solid black;
    background-color: transparent;
    border-radius: 5px;
    margin: 10px 0;
}

i {
    color: black;
    float: left;
    margin-left: 10px;
    font-size: 50px;
}

.btn-content {
    text-align: center;
}

p {
    font-size: 25px;
    padding: 1% 0;
}

.btn-content:hover p {
    background: #fff;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px !important;
    transition: 0.5s;
    font-weight: bolder;
    margin-right: 700px;
    white-space: nowrap;
    width: 70%;
    text-align: start;
    margin-left: 20px;
}

button:hover {
    background: -webkit-linear-gradient(15deg, #82fffb, #fff);
    border: 3px solid white;
    transition: 0.5s;
    font-size: 13px;
    border-radius: 15px;
}

i:hover {
    color: white;
}

.btn-content:hover i {
    color: #82fffb;
    border-radius: 15px;
    margin-right: 20px;
    float: right;
    transition: 0.5s;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

.wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(88, 193, 228, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
}

div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(126, 214, 243, 0.7);
    position: absolute;
    top: 20%;
    right: 20%;
}

.wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(3) {
    top: 40%;
    left: 75%;
    animation: animate 3s linear infinite;
}

.wrapper div:nth-child(4) {
    top: 66%;
    left: 20%;
    animation: animate 7s linear infinite;
}

.wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
}

.wrapper div:nth-child(6) {
    top: 30%;
    left: 70%;
    animation: animate 5s linear infinite;
}

.wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(9) {
    top: 50%;
    left: 80%;
    animation: animate 6s linear infinite;
}

.wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}

.wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

.wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

.wrapper div:nth-child(16) {
    top: 20%;
    left: 20%;
    animation: animate 2s linear infinite;
}

.wrapper div:nth-child(17) {
    top: 60%;
    left: 80%;
    animation: animate 4s linear infinite;
}

.wrapper div:nth-child(18) {
    top: 40%;
    left: 10%;
    animation: animate 3s linear infinite;
}

.wrapper div:nth-child(19) {
    top: 66%;
    left: 20%;
    animation: animate 1s linear infinite;
}

.wrapper div:nth-child(20) {
    top: 90%;
    left: 10%;
    animation: animate 2s linear infinite;
}

.wrapper div:nth-child(21) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
}

.wrapper div:nth-child(22) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(23) {
    top: 75%;
    left: 65%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(24) {
    top: 50%;
    left: 75%;
    animation: animate 6s linear infinite;
}

.wrapper div:nth-child(25) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
}

.wrapper div:nth-child(26) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
}

.wrapper div:nth-child(27) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
}

.wrapper div:nth-child(28) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.wrapper div:nth-child(29) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
}

.wrapper div:nth-child(30) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(70deg);
    }

    100% {
        transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}